@model NuevaDB_Qatar22.Models.Partido

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Partido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkIdEstado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkIdEstado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkIdClima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkIdClima)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkIdEstadioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkIdEstadioNavigation.IdEstadio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkIdFaseNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkIdFaseNavigation.IdFase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkIdPaísANavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkIdPaísANavigation.IdPaises)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkIdPaísBNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkIdPaísBNavigation.IdPaises)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPartido">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
